/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@font-face {
    font-family: 'OmnesRegular';
    src: url('../fonts/omnes_light-webfont.eot');
    src: url('../fonts/omnes_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes_light-webfont.woff') format('woff'),
         url('../fonts/omnes_light-webfont.ttf') format('truetype'),
         url('../fonts/omnes_light-webfont.svg#OmnesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OmnesThin';
    src: url('../fonts/omnes_extralight-webfont.eot');
    src: url('../fonts/omnes_extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes_extralight-webfont.woff') format('woff'),
         url('../fonts/omnes_extralight-webfont.ttf') format('truetype'),
         url('../fonts/omnes_extralight-webfont.svg#OmnesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-weight: lighter;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 18px/36px 'OmnesRegular', Helvetica Neue, Helvetica, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
}

.footer-container,
.main aside {
    background-color: #4A4A4A;
}

.header-container,
.footer-container,
.main aside {
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;

    color: white;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

video#bgvid {
    position: fixed; right: 0; top: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.main-container {
    background-color: rgba(68,182,255,.7);
    color: #fff;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

h1 {
    font-weight: 200;
}

h2 {
    font-weight: 200;
}

p {
    font-weight: 200;
}

.margin-top {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 30px;
}

#media-partners{
  width: 100%;
  padding-bottom: 21px;
  background-color: #E8E8E8;
  text-align: center;
}
#media-partners img{
  max-height: 45px;
  max-width: 200px;
  padding: 21px 18px 0 18px;
  box-sizing: border-box;
  vertical-align: middle;
}

#media-partners img.slashgear-logo{
  /*max-width: 200px;
  max-height: 60px;*/
}

#media-partners img.techstars-logo{
  max-width: 130px;
  max-height: 60px;
}

.arrow-down {
    width: 0; 
    height: 0; 
    margin: 0 auto;
    margin-top:-4px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #E8E8E8;
}

.main h1 {
    font-family: OmnesThin;
}

.intro-container {
    background-color: #fff;
    color: #44B6FF;
}

.pricing-container {
    color: #fff;
}

.testimonial-container {
    background-color: #fff;
}

.shipping-container {
    background-color: #fff;
}

.mockup-container {
    background: url(../img/mockup.png); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 420px;
}
.outline {
    border-radius: 9999px;
    border: 1px solid #44B6FF;
    display: inline-block;
}
.headshot {
    border-radius: 9999px;
    margin: 7px;
    width: 225px;
}

.white {
    background-color: #fff;
}

.blue-line {
    border-top: 1px solid #44B6FF;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.blue-gradient {
    background: #a0daff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3JSIgc3RvcC1jb2xvcj0iI2EwZGFmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NGI2ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #a0daff 7%, #44b6ff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,#a0daff), color-stop(100%,#44b6ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a0daff 7%,#44b6ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a0daff 7%,#44b6ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a0daff 7%,#44b6ff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a0daff 7%,#44b6ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0daff', endColorstr='#44b6ff',GradientType=0 ); /* IE6-8 */
}

.shipping-option {
    width: 50%;
    background-color: #bd0000;
    display: inline-block;
    color: #fff;
}
.tinted-image {
  background: rgba(0,0,0,.25);
  width: 100%;
  height: 100%;
}
.tinted-image:hover {
    /*background: rgba(68,182,255,.9);*/
}
.option-left {
    float: left;
    background:
    url(../img/concierge.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.option-right {
    float: right;
    background: 
    url(../img/box.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.spacing {
    padding: 30px;
}
.tinted-image .spacing {
    padding-top: 180px;
}
.remove-top {
    margin-top: 0;
}
.remove-bottom {
    margin-bottom: 0;
}
.step {
    width: 30%;
    display: inline-block;
}
.faq-header{
  font-size: 2em;
  border-bottom: 1px dotted #ccc;
  padding: 1em 0;
}

.faq-c {
  border-bottom: 1px dotted #ccc;
  padding: 10px;
}

.faq-t {
  line-height: 1em;
  color: #fff; 
  float:left; 
  font-weight: 100; 
  padding-right: 0.3em; 
  margin-top: 9px;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-o {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  -ms-transform: rotate(-45deg);
  -ms-transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-q {
  cursor: pointer;
  font-size: 1em;
  font-weight: 100;
}

.faq-a {
  clear: both;
  color: #fff;
  display: none;
  padding-left: 1.5em;
}

#hero-bar {
    display: inline-block;
  left: 0;
  top: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    .header-container {
        display: none;
    }
}

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        font-size: 16px;
        float: right;
        margin: 0 5%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 42%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: rgba(68,182,255,.7);
  color: white;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
