/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@font-face {
    font-family: 'OmnesRegular';
    src: url('../fonts/_light-webfont.eot');
    src: url('../fonts/omnes_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes_light-webfont.woff') format('woff'),
         url('../fonts/omnes_light-webfont.ttf') format('truetype'),
         url('../fonts/omnes_light-webfont.svg#OmnesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OmnesThin';
    src: url('../fonts/omnes_extralight-webfont.eot');
    src: url('../fonts/omnes_extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes_extralight-webfont.woff') format('woff'),
         url('../fonts/omnes_extralight-webfont.ttf') format('truetype'),
         url('../fonts/omnes_extralight-webfont.svg#OmnesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-weight: lighter;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 18px/30px 'OmnesRegular', Helvetica Neue, Helvetica, Arial;
    background-color: #f2f2f2;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
}

.footer-container,
.main aside {
    background-color: #222426;
}
.footer-container a {
  color: #fff;
  text-decoration: none;
}

.header-container,
.footer-container,
.main aside {
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 5px 0;

    text-align: center;
    text-decoration: none;

    color: white;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

.menu {
  padding-top:7px;
  margin-top: -7px;
  text-align: center;
}
.cloned {
   background-color: rgba(68,182,255,1);
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

video#bgvid {
    position: fixed; right: 0; top: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.main-container {
    background-color: rgba(68,182,255,.7);
    color: #fff;
    padding-bottom:20px;
}
.main-container > .wrapper {
  max-width: 720px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

h1 {
    font-family: OmnesThin;
    font-weight: 100;
}

h2 {
    font-family: OmnesThin;
    font-weight: 100;
}

h3 {
  font-family: OmnesThin;
    font-weight: 100;
}

p {
    font-weight: 200;
}

.margin-top {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 30px;
}

#media-partners{
  width: 100%;
  padding-bottom: 21px;
  background-color: #E8E8E8;
  text-align: center;
}
#media-partners img{
  max-height: 45px;
  max-width: 200px;
  padding: 21px 18px 0 18px;
  box-sizing: border-box;
  vertical-align: middle;
}

#media-partners img.slashgear-logo{
  /*max-width: 200px;
  max-height: 60px;*/
}

#media-partners img.techstars-logo{
  max-width: 130px;
  max-height: 60px;
}

.arrow-down {
    width: 0; 
    height: 0; 
    margin: 0 auto;
    margin-top:-4px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #E8E8E8;
}

.main h1 {
    font-family: OmnesThin;
}

.intro-container {
    background-color: #fff;
    color: #222426;
}

.pricing-container {
    color: #fff;
}

.testimonial-container {
    background-color: #fff;
}

.shipping-container {
    background-color: #fff;
}

.mockup-container {
    background: url(../img/mockup.png); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 420px;
}
.outline {
    border-radius: 9999px;
    border: 1px solid #44B6FF;
}
.headshot {
    border-radius: 9999px;
    margin: 5px;
    width: 225px;
}

.white {
    background-color: #fff;
}

.blue-line {
    border-top: 1px solid #44B6FF;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 15px;
    opacity: 0.5;
}
.blue {
  color: #44B6FF;
}
.blue-gradient {
    background: #a0daff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3JSIgc3RvcC1jb2xvcj0iI2EwZGFmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NGI2ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #a0daff 7%, #44b6ff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,#a0daff), color-stop(100%,#44b6ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a0daff 7%,#44b6ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a0daff 7%,#44b6ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a0daff 7%,#44b6ff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a0daff 7%,#44b6ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0daff', endColorstr='#44b6ff',GradientType=0 ); /* IE6-8 */
}

.shipping-option {
    width: 50%;
    background-color: #bd0000;
    display: inline-block;
    color: #fff;
}
.tinted-image {
  background: rgba(0,0,0,.25);
  width: 100%;
  height: 100%;
}
.tinted-image:hover {
    /*background: rgba(68,182,255,.9);*/
}
.option-left {
    background:
    url(../img/concierge.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.option-right {
    background: 
    url(../img/box.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  font-size: 1.25em;
  line-height: 1.4em;
}
h1 {
  font-size: 3.05em;
  line-height: 1.377049179em;
  margin-top: 0.91803279em;
  margin-bottom: 0.45901639em;
}
h2 {
  font-size: 2.1em;
  line-height: 1.333333334em;
  margin-top: 1.33333333em;
  margin-bottom: 0.66666667em;
}
h3 {
  font-size: 1.45em;
  line-height: 1.931034482em;
  margin-top: 0.96551724em;
  margin-bottom: 0.96551724em;
}
h4 {
  font-size: 1em;
  line-height: 1.4em;
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}

/* Sanitation */
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
@media only screen and (min-width: 720px) {
    .option-right {
        float:right;
    }
}
.spacing {
    padding: 50px;
}
.tinted-image .spacing {
    padding-top: 180px;
}
.add-bottom {
  margin-bottom: 50px;
}
.remove-top {
    margin-top: 0;
}
.remove-bottom {
    margin-bottom: 0;
}
.step {
    width: 30%;
    display: inline-block;
}
.faq-header{
  font-size: 2em;
  padding: 1em 0;
}

.faq-c {
  padding: 10px;
}

.faq-t {
  line-height: 1em;
  color: #fff; 
  float:left; 
  font-weight: 100; 
  padding-right: 0.3em; 
  margin-top: 6px;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-o {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  -ms-transform: rotate(-45deg);
  -ms-transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-q {
  cursor: pointer;
  font-size: 1em;
  font-weight: 100;
}

.faq-a {
  clear: both;
  color: #fff;
  display: none;
  padding-left: 1.5em;
}

#hero-bar {
    display: inline-block;
  left: 0;
  top: 0;
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.uppercase {
  text-transform: uppercase;
}
.testimonial-widget {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 0 20px;
  min-height: 450px;
}

.testimonial {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.testimonial.current {
  opacity: 1;
  position: relative;
  z-index: initial;
  -moz-animation: fadein 1s ease;
  -webkit-animation: fadein 1s ease;
  animation: fadein 1s ease;
}

.prev-testimonial,
.next-testimonial {
  position: absolute;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  width: 30px;
  top: 110px;
  text-indent: -9999px;
  cursor: pointer;
}
.prev-testimonial:focus,
.next-testimonial:focus {
  outline: none;
}
.prev-testimonial:before,
.next-testimonial:before {
  content: "";
  background-color: white;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.prev-testimonial {
  left: 0;
}
.prev-testimonial:before {
  left: 10px;
  border-left: solid 1px #44B6FF;
  border-bottom: solid 1px #44B6FF;
}

.next-testimonial {
  right: 0;
}
.next-testimonial:before {
  right: 10px;
  border-top: solid 1px #44B6FF;
  border-right: solid 1px #44B6FF;
}

.testimonial__mug {
  width: 190px;
  height: 190px;
  margin: 16px auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial strong {
  color: #44B6FF;
}

.grey-out {
  opacity: .2;
}

.wrap {
  padding-top: 40px;
  max-width: 450px;
  margin: 0 auto;
}

.testimonial-img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: bold;
}

p {
  margin-bottom: 16px;
}

.testimonial-button {
  width: 80px;
  padding: 6px;
  z-index: 99;
}
.button {
  background-color: #fff;
  border: 1px solid #44B6FF;
  border-radius: 4px;
  margin: 20px;
  padding: 10px 15px;
}
.container {
  max-width: 720px;
  margin: 0 auto;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 720px) {

    #bgvid {
      display: none;
    }
    .mockup-container {
      padding-top: 220px;
    }
    .mockup-container .wrapper {
      text-align: center;
    }
    .step {
      width: 80%;
    }
}
@media only screen and (max-width: 800px) {
    .shipping-option {
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {

    .header-container {
        display: none;
    }
    .mockup-container {
      padding-top: 120px;
    }
    .testimonial-quote .quote-container {
      padding-left: 10px !important;
      padding-top: 150px !important;
    }
    .testimonial-quote.right .quote-container {
      padding-right: 10px !important;
      padding-top: 150px !important;
    }
    h1 {
      font-size: 2em;
    }
}


@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        font-size: 16px;
        float: right;
        margin: 0 5%;
        padding: 10px 2% 10px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 42%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

@media only screen and (min-width: 81em) {

    .page {
      max-width: 1300px;
      margin: 0 auto;
    }
    #bgvid {
    display: none;    }
    .main-container {
          background: #a0daff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3JSIgc3RvcC1jb2xvcj0iI2EwZGFmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NGI2ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #a0daff 7%, #44b6ff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,#a0daff), color-stop(100%,#44b6ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a0daff 7%,#44b6ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a0daff 7%,#44b6ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a0daff 7%,#44b6ff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a0daff 7%,#44b6ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0daff', endColorstr='#44b6ff',GradientType=0 ); /* IE6-8 */

    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: rgba(68,182,255,.7);
  color: white;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}


.input{
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

input{
  border: 1px solid #44B6FF;
  padding: 15px 40px;
  background: #fff;
  font-size: 18px;
  color: #222462;
}

input[type="text"],
input[type="email"]{
  border: none;
  border-bottom: 1px solid #44B6FF;
  padding-left: 0;
}

input:focus,
input:active{
  outline: none;
}

.input label{
  position: absolute;
  top: 50%;
  left: 0;
  color: #999;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all .5s;
}

.input input:focus + label,
.input input.hasValue + label{
  top: 70px;
  font-size: 12px;
  color: #aaa;
}